<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SborkaPreflight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SborkaPreflight.Properties.Settings>
            <setting name="pathApproved" serializeAs="String">
                <value>d:\Programming\Test\[day]-[month]\Layouts\Approved\</value>
            </setting>
            <setting name="pathNew" serializeAs="String">
                <value>d:\Programming\Test\[day]-[month]\Layouts\New\</value>
            </setting>
            <setting name="pathPDFs" serializeAs="String">
                <value>d:\Programming\Test\[day]-[month]\Layouts\PDFs\</value>
            </setting>
            <setting name="pathProblem" serializeAs="String">
                <value>d:\Programming\Test\[day]-[month]\Layouts\Problem\</value>
            </setting>
            <setting name="PdfPreset" serializeAs="String">
                <value>Sborka_Press_new</value>
            </setting>
            <setting name="regexFullNumberInFileName" serializeAs="String">
                <value>\(((?&lt;customer&gt;\d{1,5})-(?&lt;order&gt;\d{7,8}))\)</value>
            </setting>
            <setting name="regexSizeInFileName" serializeAs="String">
                <value>\((\d{1,4}[xXхХ]\d{1,4})\)</value>
            </setting>
            <setting name="admissibleExtentions" serializeAs="String">
                <value>.zip,.rar,.7z</value>
            </setting>
            <setting name="trueExtentions" serializeAs="String">
                <value>.tif,.tiff,.jpg,.png,.cdr</value>
            </setting>
            <setting name="regexPrintrunInFileName" serializeAs="String">
                <value>_[TТ](?&lt;printrun&gt;\d+)_</value>
            </setting>
        </SborkaPreflight.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
